@import '../../styles/variables/variables.scss';

.search {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
}

.search-bar {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-table {
    margin-top: 3%;
    height: 90%;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: $defualt-green #e3efff;
}

.album-img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (min-width: 801px) {
    
.search-input {
    width: 70%;
    border-color: lime;
    color: green;
}

}

@media (max-width: 800px) {
    
.search-input {
    width: 100%;
    border-color: lime;
    color: green
}

}

.buttom-buttons {
    margin-top: 3%;
}

#bootsrtap-buttons {
    color: white;
    background-color: $defualt-green;
    border-color: lawngreen;
}

.dropdown-selected {
    background-color: $defualt-green;
}

.dropdown-notselected {
    background-color: transparent;
}